@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

*{
    margin: 0;
    padding: 0;
    font-family: 'Poppins', monospace;
    background-color: #000;
    color: #fff;
}

.header{
    text-align: center;
}
ul{
    list-style: none;
    background-color: #000;
}

ul li {
    display: inline-block;
    position: relative;
}

ul li a{
    display: block;
    padding: 20px 25px;
    color: #fff;
    text-decoration: none;
    text-align: center;
    font-size: 20px;
}

ul li ul.dropdown li{
    display: block;

}

ul li ul.dropdown{
    max-width:  100%;
    background-color: #000;
    position: relative;
    z-index: 999;
    display: none;
}

ul li a:hover{
    background: #c40606;
}

ul li:hover ul.dropdown{
    display: block;
}

.hero{
    padding: 70px 0;
    text-align: center;
}