body {
    background-color: #000;
    font-family: 'Poppins', sans-serif;
    color: #fff;
}

.hero iframe {
    border: none;
}

.imgs-slide {
    animation: slide 15s linear infinite;
}

.imgs-slide img {
    height: 200px;
    margin: 0 20px;
}

.imgs:hover .imgs-slide {
    animation-play-state: paused;
}

@keyframes slide {
    0% {
        transform: translateX(0);
    }
    100% {
        transform: translateX(-50%);
    }
}
